<!DOCTYPE html>
<html lang="en" ng-app="myApp"> 
<head>


</head>
<body>

<div>
	{{4 + 5}}
</div>

<greet-user></greet-user>	



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script>
angular.module("myApp", []);

angular.
  module('myApp').
  component('greetUser', {
    template: 'Hello, {{$ctrl.today}}!',
    controller: function GreetUserController() {
      this.today = 'Tuesday';
    }
  });
</script>

</body>
</html>


